<div
  class="h-screen flex items-center justify-center bg-cover bg-center bg-no-repeat rounded shadow"
  style="background-image: url('/assets/images/1.png')"
>
  <div class="container lg:w-1/2 w-full max-w-lg">
    <div
      class="px-8 py-10 bg-white/85 backdrop-blur-md rounded-2xl shadow-2xl border border-white/40"
    >
      <h1 class="text-3xl font-extrabold mb-8 text-center text-[#16A197]">Change Password</h1>

      <form class="space-y-6" [formGroup]="changePasswordForm" (submit)="onSubmit()">
        @let password = changePasswordForm.get('password');
        @let newPassword = changePasswordForm.get('newPassword');
        <div class="flex flex-col gap-2">
          <label for="old-password" class="text-gray-800 font-semibold tracking-wide"
            >Old Password</label
          >
          <input
            type="password"
            name="old-password"
            id="old-password"
            class="main-input"
            placeholder="••••••••"
            formControlName="password"
          />
          @if (password?.touched && password?.invalid) {
            <p class="text-red-500 text-sm">
              {{
                password?.hasError('required')
                  ? 'Password is required'
                  : 'Password must be at least 8 characters'
              }}
            </p>
          }
        </div>

        <div class="flex flex-col gap-2">
          <label for="new-password" class="text-gray-800 font-semibold tracking-wide"
            >New Password</label
          >
          <input
            type="password"
            name="new-password"
            id="new-password"
            class="main-input"
            placeholder="••••••••"
            formControlName="newPassword"
          />
          @if (newPassword?.touched && newPassword?.invalid) {
            <p class="text-red-500 text-sm">
              {{
                newPassword?.hasError('required')
                  ? 'Password is required'
                  : 'Password must be at least 8 characters'
              }}
            </p>
          }
        </div>

        <!-- زرار الحفظ بعد الترويق -->
        <button type="submit" class="main-btn w-full" [disabled]="!changePasswordForm.valid">
          Change Password
        </button>
      </form>
    </div>
  </div>
</div>
